body {
    font-family: 'Iceland', cursive;
    font-size: 25px;
    background: rgb(2, 0, 36);
    background: linear-gradient(120deg, rgb(57, 51, 164) 0%, rgb(101, 101, 173) 35%, rgba(0, 212, 255, 1) 100%);
}

h1 {
    text-align: center;
    font-size: 1.1em;
}

.calculator {
    width: 85vw;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.screen {
    width: 75vw;
    max-width: 450px;
    height: 20px;
    padding: 10px;
    margin: 0 auto 5px auto;
    text-align: right;
    letter-spacing: 2px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
}

#memory {
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0.3);
    font-size: 0.8em;
}

/* #operation-type {
    display: none;
} */

button {
    margin: 5px;
    width: 15vw;
    height: 8vh;
    max-width: 100px;
    min-height: 40px;
    font-weight: bold;
    font-size: 1em;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid aliceblue;
    background-color: rgb(101, 173, 172);
}

.signs button {
    height: 7vh;
}

button:hover {
    background-color: rgb(76, 137, 136);
}

.keys {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
}

.signs {
    width: 25%;
}

.equal-btn {
    background-color: rgb(203, 123, 123);
}

.equal-btn:hover {
    background-color: rgb(165, 97, 97);
}

.backToMain {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 20vw;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(101, 173, 172);
    border-radius: 20px;
}

.backToMain:hover {
    background-color: rgb(76, 137, 136);
}